/* Experiência Acadêmica*/

section.academic{
    background-color: #EAF2FD;
}

.academic__title{
    text-align: center;
    color: #464646;
    padding-top: 82px;
}

.academic__courses{
    display: flex;
    flex-wrap: nowrap;
    margin: 0 10.5%;
}

.academic__courses__item__img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 270px;
    height: 220px;
}

.academic__courses__list{
    font-family: Raleway;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 25.83px;
    text-align: left; 
    color: #464646;
}

.academic__courses__item__subtitle{
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;

}


/* tablet */
@media screen and (max-width: 1220px) {
        
    /*Experiências acadêmicas*/
    
    section.academic{
        padding: 16px;
    }
    
    .academic__title{
        font-size: 1.375rem;
        line-height: 25.83px;
        padding-top: 0;
    }
    
    .academic__courses{
        flex-wrap: wrap;
    }
    
    .academic__courses__item__title{
    font-size: 1rem;
    font-weight: 700;
    line-height: 18.78px;
    text-align: left;
    color: #464646;
    }
    
    .academic__courses__item__subtitle{
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 16.44px;
        text-align: left;
    }
}

/* Mobile */
@media screen and (max-width: 767px){

    /*Formação Acadêmica*/

.academic__courses{
    /* flex-direction: column; */
    margin: 0;
}

.academic__courses__item__img{
    width: 296px;
    height: 118px;
}
}