/*Sessão Hobbies*/

section.hobbies{
    padding: 88px;
    padding-top: 0; 
    margin: 0 10.5%;
    max-width: 100%;
}

.hobbies__title{
    text-align: center;
    color: #464646;
}

.hobbies__line{
    display: flex;
    gap: 32px;
    justify-content: center;
}

.hobbies__box{
    display: flex;
    width: 176px;
    height: 174px;
    background-color: #fff;
    align-items: end;
}

.hobbies__name{
    font-size: 1rem;
    font-weight: 700;
    color: #464646;
}


/* tablet */
@media screen and (max-width: 1220px) {
/*Hobbies*/
    
section.hobbies{
    padding: 16px;
}

.hobbies__title{
    font-size: 1.375rem;
    line-height: 25.83px;
    text-align: center;
    color: #464646;
}

.hobbies__line{
    padding: 16px;
    gap: 8px;
    flex-wrap: wrap;
}

.hobbies__box{
    width: 244px;
    height: 118px;
}
}

/* Mobile */
@media screen and (max-width: 767px){

    /*Hobbies*/
    
    .hobbies__title{
        font-size: 1.375rem;
    }
    
    .hobbies__line{
        width: 328px;
        margin: 0 auto;
    }
    
    .hobbies__box{
        width: 110px;
        height: 118px;
        padding: 16px;
    }
}

@media screen and (max-width: 767px) {

    section.hobbies{
        margin: 0;
    }
}