/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #f1f2f6;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0 10.5% 0 10.5%;
    padding: 0;
    line-height: 1;
    border: 0;
}

ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

header{
    display: flex;
    align-items: center;
    gap: 15px;    
}
.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu{
    align-items: center;
    padding: 32px 0 32px 0;
}

.menu__title{
}

.menu__list{
    display: flex;
    gap: 32px;
    align-items: center;
    font-size: 1rem;
}

.menu__list__item__contato{
    opacity: 0;
}

.menu li{
    display: inline-block;
}

.menu a{
    display: block;
    text-decoration: none;
    color: #464646;
}

.menu a:hover{
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
}

/*Sessão Title*/

/* section.title{
    width: 368px;
    height: 368px;
    display: flex;
} */

.title{
    height: 368px;
}

.title__div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.title__profile{
    width: 368px;
    height: 368px;
    border-radius: 50%;
}

.title__bio{
    display: flex;
    font-size: 3.25rem;
    color: #464646;
}

.title__subsection{
    display: flex;
    font-size: 1.375rem;
    color: #464646;
    font-family: Raleway;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;

}

.title__network__item{
    display: inline-block;
    font-size: 1rem;
    color: #464646;
}

.title__network{
    display: flex;
    justify-content: space-between;
    width: 450px;
    padding: 0;
    font-weight: 500;
    
}

/*Sessão About*/

section.about{
    background-color: #EAF2FD;
    padding: 64px 20px;
}

.about__container{
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: left;
}
.about__paragraph{
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: left;

}

/*Sessão Skills*/

section.skills{
    padding: 88px;
    padding-top: 0;    
}

.skills__title{
    text-align: center;
    color: #464646;
}

.skills__box{
    display: flex;
    width: 176px;
    height: 174px;
    background-color: #fff;
    align-items: end;
}

.skills__name{
    font-size: 1rem;
    font-weight: 700;
    color: #464646;
    text-align: end;
}

.skills__line{
    display: flex;
    gap: 32px;
    justify-content: center;
}

/*Sessão Hobbies*/

section.hobbies{
    padding: 88px;
    padding-top: 0; 
}

.hobbies__title{
    text-align: center;
    color: #464646;
}

.hobbies__line{
    display: flex;
    gap: 32px;
    justify-content: center;
}

.hobbies__box{
    display: flex;
    width: 176px;
    height: 174px;
    background-color: #fff;
    align-items: end;
}

.hobbies__name{
    font-size: 1rem;
    font-weight: 700;
    color: #464646;
}


/* Experiência Acadêmica*/

section.academic{
    background-color: #EAF2FD;
}

.academic__title{
    text-align: center;
    color: #464646;
}

.academic__courses{
    display: flex;
    flex-wrap: wrap;
}

.academic__courses__item__img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 270px;
    height: 220px;
}

.academic__courses__list{
    font-family: Raleway;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 25.83px;
    text-align: left; 
    color: #464646;
}

.academic__courses__item__subtitle{
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;

}

.experience__section__title{
    text-align: center;
}

.experience__info{
    display: inline-grid;
    font-family: Raleway;
    font-size: 1.575rem;
    font-weight: 700;
    line-height: 25.83px;
    text-align: left;
    color: #464646;


}

.experience__text{
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;
    
}

/* experiência*/

/* section.experience{
    padding: 88px;
    padding-top: 0; 
} */

.experience__section__title{
    text-align: center;
    color: #464646;

}

.experience__img{
    box-shadow: 0px 24px 32px -8px #00000014;
    border-radius: 10px;
    width: 752px;
    height: 406px;
}

.experiencie__box{
    display: flex;
    justify-content: start;
    width: 100%;
    flex-wrap: wrap;
    gap: 16px;
}

.experiencie__box:nth-child(odd){
    flex-direction: row-reverse;
}

.experiencia__botao--repo{
    border: 1px solid #2A7AE4;
    background-color: transparent;
    width: 116px;
    height: 51px;
    padding: 16px 0px 0px 0px;
    gap: 10px;
    font-family: Raleway;
    font-size: 16px;
    display: inline-grid;
    color: #2A7AE4;
    

}

.experiencia__botao--demo{
    width: 105px;
    height: 51px;
    padding: 16px 0px 0px 0px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    display: inline-grid;
    background-color: #2A7AE4;
    color: #fff;
    border:#2A7AE4
    


}

/*Contato*/

section.formcontato{
    background-color: #EAF2FD;
    padding: 64px 150px;

}

.formcontato__contacto{
    display: flex;
    justify-content: center;
}

.formcontato__title{
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: left;
    color: #464646;
}

.formcontato__subtext{
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;
    color: #464646;
}

.formcontato__form{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 656px;
    height: 397px;
}

.formcontato__input{
    width: 656px;
    height: 40px;
    top: 8px;
    padding: 0px 12px 0px 12px;
    gap: 0px;
    font-family: Raleway;
    border: none;
}

.formcontato__textarea{
    width: 656px;
    height: 133px;
    padding: 0px 12px 0px 12px;
    gap: 4px;
    border-radius: 4px 0px 0px 0px;
    font-family: Raleway;
    border: none;
}

.formcontato__botao{
    width: 165px;
    height: 51px;
    padding: 16px 0px 0px 0px;
    gap: 10px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    display: inline-grid;
    background-color: #2A7AE4;
    color: #fff;
    border:#2A7AE4

}
/*footeer*/

section.footer{
    background-color: #fff;
    height: 102px;
    padding: 32px 0px 0px 0px;
    gap: 10px;  
}

.footer__rodape{
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: center;
    color: #464646;
}



/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media screen and (max-width: 768px) {

/* Menu */

body{
    margin: 0;
}

section.menu{
    padding: 16px 32px 16px 32px
}

.menu__title{
    font-size: 1rem;
    line-height: 18.78px;
    color: #464646;
}

.menu__list{
    display: none;
}

.menu__list__item__contato{
    display: block;
    font-weight: 700;
    font-size: 1rem;
    color: #464646;
    line-height: 18.78px;
    opacity: 100%;
}


/*title*/

.title__div{
    justify-content: space-between;
    align-items: center;
}

.title{
    height: auto;
}

.title__profile{
    width: 146px;
    height: auto;
}

.title__bio{
    font-family: Raleway;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 25.83px;
    text-align: left;
    color: #464646;
}

.title__subsection{
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: left;
    color: #464646;
}

.title__network{
    width: 467px;
    height: 24px;
    gap: 32px;

}

/* ABOUT  */

section.about{
    padding: 32px;
}

.about__container{
    width: 600px;
}

.about__title{
    font-size: 1.375rem;
    color: #464646;
    line-height: 25.83px;
}

.about__paragraph{
    font-size: 0.875rem;
    color: #464646;
    line-height: 16.44px;
}

/*Skills*/

section.skills{
    padding: 16px;
}

.skills__title{
    font-size: 1.375rem;
    line-height: 25.83px;
    text-align: center;
    color: #464646;
}

.skills__line{
    padding: 16px;
    gap: 8px;
    flex-wrap: wrap;
}

.skills__box{
    width: 244px;
    height: 118px;
}

/*Hobbies*/

section.hobbies{
    padding: 16px;
}

.hobbies__title{
    font-size: 1.375rem;
    line-height: 25.83px;
    text-align: center;
    color: #464646;
}

.hobbies__line{
    padding: 16px;
    gap: 8px;
    flex-wrap: wrap;
}

.hobbies__box{
    width: 244px;
    height: 118px;
}

/*Experiências acadêmicas*/

section.academic{
    padding: 16px;
}

.academic__title{
    font-size: 1.375rem;
    line-height: 25.83px;
}

.academic__courses{
    flex-wrap: wrap;
}

.academic__courses__item__title{
font-size: 1rem;
font-weight: 700;
line-height: 18.78px;
text-align: left;
color: #464646;
}

.academic__courses__item__subtitle{
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 16.44px;
    text-align: left;
}

/*Expeirência profissional*/

section.experience{

}
.experiencie__box{
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 16px;
    width: auto;
}

.experience__img{
    width: 550px;
    height: 300px;
}

.experiencie__box:nth-child(odd){
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.experience__info{
font-size: 1rem;
font-weight: 700;
line-height: 18.78px;
text-align: left;
}

.experience__text{
font-size: 0.875rem;
font-weight: 500;
line-height: 16.44px;
text-align: left;
}

.experiencia__botao--repo{
    font-size: 0.875rem;
    width: 108px;
    height: 40px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    border: 1px 0px 0px 0px;
}

.experiencia__botao--demo{
    font-size: 0.875rem;
    width: 96px;
    height: 40px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    background-color: #2A7AE4;
    color: #fff;
    border:#2A7AE4
}

/* CONTATO */

section.formcontato{
    padding: 0;
}

.formcontato__title{
font-size: 1.375rem;
line-height: 25.83px;
text-align: left;
}

.formcontato__form{
    width: 704px;
    height: 573px;
    gap: 32px;
}

.formcontato__input{
    width: 704px;
    height: 56px;
    gap: 8px;
}

.formcontato__botao{
    width: 151px;
    height: 40px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    font-size: 0.875rem;
}

section.footer{
    width: 768px;
}

}


/* Mobile */
 @media screen and (max-width: 360px){

/*Menu*/

section.menu{
    width: 360px;
    height: 56px;
    justify-content: none;
}

.menu__list__item__contato{
font-size: 0.875rem;
font-weight: 400;
line-height: 16.44px;
text-align: left;
}

/*Titulo*/

section.title{
    margin: 0;
}

.title__div{
    flex-direction: column;
    align-items: baseline;
}
.title__bio{

}

.title__div{
    padding: 16px;
    gap: 16px;
}

.title__subsection{
    font-size: 0.875rem;
    line-height: 16.44px;
    text-align: left;

}

.title__network{
    width: 100%;
    height: 16px;
    gap: 8px;
}

.title__network__item{ */
    /* width: 45px; */
    /* height: 16px;
}

/*Sessão sobre*/

/* section.about{
    width: 100%;
    height: auto;
    padding: 16px;
    
}

.about__container{
    width: 100%;
    height: auto;
    padding: 16px 0px 0px 0px;
    gap: 10px;
    box-sizing: border-box;
} */

/*Skills*/

/* .skills__line{
    width: 328px;
    height: auto;
    gap: 16px;
    justify-content: space-around;
}

.skills__box{
    width: 110px;
    height: 118px;
    padding: 16px;
}

.skills__name{
    line-height: 18.78px;
} */

/*Hobbies*/

/* .hobbies__line{
    width: 328px;
    height: auto;
    gap: 16px;
    justify-content: space-around;
}

.hobbies__box{
    width: 110px;
    height: 118px;
    padding: 16px;
} */
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

    /* .experience__img{
        width: 100%;
    }

    .experience__info{
        display: flex;
        flex-direction: inherit;
    } */
 /*Contato*/

 /* section.formcontato{
    padding: 16px;
 }

 .formcontato__contacto{
    padding: 0;
    margin: 0;
    
}
    .formcontato__input{
        width: 296px;
        height: 56px;
        border-radius: 4px;
    }

    .formcontato__textarea{
        width: 296px;
        height: 133px;
        padding: 16px 0px 0px 0px;
        border-radius: 4px 0px 0px 0px;
    }

    .formcontato__title{
        text-align: center;
    }

    .formcontato__subtext{
        text-align: center;
    }

    .formcontato__form{
        height: 350px;
        align-items: center;
        
    } */

/*Footer*/

 }

 }