/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #f1f2f6;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.menu__title{
}
.menu__list{
    display: flex;
    gap: 32px;
    align-items: center;
    
    font-size: 1rem;
    
}
.menu li{
    display: inline-block;
}

.menu a{
    display: block;
    text-decoration: none;
    padding: 10%;
}

.menu a:hover{
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
}

/*Sessão Title*/

section.title{
}

.title{
    padding: 10%;
    padding-bottom: 0;
}

.title__bio{
    display: flex;
    font-size: 3.25rem;
}

.title__subsection{
    display: flex;
    font-size: 1.75rem;
}

.title__network__item{
    display: inline-block;
    font-size: 1rem;
    gap: 32px;
}

.title__network{
    
}

/*Sessão About*/

section.about{
    padding: 10%;
}

.about__container{
}

/*Sessão Skills*/

section.skills{
    padding: 10%;
    padding-top: 0;    
}

.skills__title{
    text-align: center;
}

.skills__box{
    display: flex;
    width: 176px;
    height: 174px;
    background-color: #fff;
    align-items: end;
}

.skills__name{
    font-size: 1rem;
    font-weight: 700;
    text-align: end;
}

.skills__line{
    display: flex;
    gap: 32px;
    justify-content: center;
}

.skills__img{
}

/*Sessão Hobbies*/

section.hobbies{
    padding: 10%;
    padding-top: 0; 
}

.hobbies__title{
    text-align: center;
}

.hobbies__line{
    display: flex;
    gap: 32px;
    justify-content: center;
}

.hobbies__box{
    display: flex;
    width: 176px;
    height: 174px;
    background-color: #fff;
    align-items: end;
}

.hobbies__name{
    font-size: 1rem;
    font-weight: 700;
    text-align: end;
}


/* Experiência Acadêmica*/

section.academic{
    padding: 10%;
    padding-top: 0;
}

.academic__title{
    text-align: center;
}

.academic__courses{
    display: flex;
    gap: 32px;
}

/* .academic__courses__box{
    display: flex;
    width: 200px;
    height: 150px;
    background-color: #fff;
    align-items: end;
} */

.academic__courses__list{
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
}

/* experiência*/

section.experience{

}

/*Contato*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}